body
  padding-top 61px
.navbar
  height 12%
  background skyblue
.navbar-header
  a.navbar-brand
    h6
      color darkblue
div.navbar-collapse
  ul li a
    margin-top 15%
footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #d7e0e2

.navbar-form
  .form-group
    margin-left 10px
  button
    margin-left 10px

.toast-top-right
  top 70px

.toast-success
  background-color #13987e

.users-list
  clear both
  margin-top 3%